<footer class="footer">
  <div class="container-fluid">
    <i class="icon fab fa-facebook-square fa-3x"></i>
    <i class="icon fab fa-instagram fa-3x"></i>
    <i class="icon fas fa-envelope fa-3x"></i>
    <p>Hughes Landscaping</p>
    <p>(301) 330-4949</p>
    <p>©2011 Hughes Landscaping All Rights Reserved</p>
    <p>Website L&P Communications LLC</p>
    <p>Photography Elizabeth Chomas</p>
  </div>
</footer>
