<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">

      <img id="logo-image" class="navbar-brand" src="/images/logo.jpg" alt="Hughes Landscaping Logo" />

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Our Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/our-services">Our Services</a>
          <a class="dropdown-item" href="/design-and-build">Design & Build</a>
          <a class="dropdown-item" href="/maintenance">Maintain</a>
        </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Portfolio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Architectural Elements</a>
          <a class="dropdown-item" href="#">Plantings</a>
          <a class="dropdown-item" href="#">Irrigation</a>
        </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/about-us">About Us</a>
          <a class="dropdown-item" href="/our-team">Our Team</a>
          <a class="dropdown-item" href="#">Our Guarantee</a>
          <a class="dropdown-item" href="#">Recognition</a>
          <a class="dropdown-item" href="#">Monthly Newsletter</a>
          <a class="dropdown-item" href="#">FAQs</a>
          <a class="dropdown-item" href="#">Affiliations/Licenses</a>
          <a class="dropdown-item" href="#">Lawn Care Labels & MSDS</a>
          <a class="dropdown-item" href="#">Environmental Resposibility</a>
        </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/our-process">Our Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
