<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <title>About Hughes Landscaping</title>
</head>

<body>
  <!-- Navigation -->
  <% include ./partials/navbar.ejs %>

  <!-- Photo Carousel -->
  <% include ./partials/carousel.ejs %>

  <div class="container-fluid">
    <h2 class="main-heading">About Us</h2>

    <p class="side-text">
      Hughes Landscaping was founded by Maryland native John Hughes, who currently serves as President of the company.
      Since 1983, Hughes Landscaping has delivered commercial and residential landscape design, installation and maintenance services to the Washington Metropolitan Area.
    </p>
    <p class="side-text">
      Over the years, Hughes Landscaping has built a reputation for personal attention and quality work. That reputation results from a professional account management team with an average of 20 years’ experience with Hughes. That
      reputation is earned by professional crew leaders averaging more than two decades with Hughes Landscaping.
    </p>
    <h2 class="main-heading">Our Mission</h2>

    <p class="side-text">
      Our mission is to deliver value to our clients - through thoughtful design, quality materials, the highest standards of craftsmanship and exceptional service - as we create beautiful, functional outdoor spaces.
    </p>
    <p class="side-text">
      At Hughes Landscaping we approach each project from your perspective. From a design that marries your functional requirements and aesthetic desires to a build that delivers top quality on-time and on-budget, we work with and for you.
    </p>
    <p class="side-text">
      The Hughes Landscaping team fulfills this mission with personal service. A dedicated account manager will work with you from proposal to planning, installation through maintenance. Beyond the project, whether the dog uninstalls your new
      flower bed or the neighbor's tree falls across your driveway, your account manager is a phone call away.
    </p>
    <p class="side-text">
      Hughes Landscaping fulfills this mission with expert service. Our key team members have years of experience working with Hughes, decades of experience working on projects like yours. Beyond real-world experience, our account managers are
      encouraged to further their education and to be active in industry associations to continually develop their professional expertise. We invest in senior people and their continuing development to make good on our commitment to value. Our
      goal is not to be the least expensive contractor, but to offer you the best value - materials, craftsmanship and service - for your investment.
    </p>
    <p class="side-text">
      We work to fulfill our mission each day, remembering that we are in business because of your business.
    </p>
  </div>

  <% include ./partials/baseScripts.ejs %>
</body>
<footer>
  <% include ./partials/footer.ejs %>
</footer>

</html>
