<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <title>Commercial and residential landscaping design</title>
</head>

<body>
  <!-- Navigation -->
  <% include ./partials/navbar.ejs %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="main-heading">Landscape Design</h2>

        <p>
          Hughes Landscaping designers are experienced and certified in commercial and residential landscape design.
          We will spend time understanding your practical requirements, preferences, time frame, budget, and desired level of maintenance.
          Combining your ideas with our Thirty-two years’ experience, we will design a landscape that may include plantings, architectural elements and/or sprinkler systems.
        </p>

        <h3>Team</h3>

        <p>
          An account manager will work with you from the first design meeting through the build process, and will continue to serve as your dedicated point of contact for maintenance support.
          Your project will be completed by experienced Hughes Landscaping crews, each led by a senior foreman.
        </p>

        <h3>Work</h3>

        <p>
          Whether your project is a refresh or a complete redesign, we will help prepare you for and guide you through the process, and will apply our expertise to ensure it proceeds in a smooth, timely manner.
          We’ve completed landscape designs addressing plantings (tree removal and installation, shrubs, bushes, annual and perennial flowers, trellises) architectural elements (walls, steps, walkways, patios, decks, gazebos, outdoor kitchens,
          grills,
          chimineas, water features) and sprinkler systems.
          We invite you to view our portfolio.
        </p>
      </div>
      <div class="col-lg-4">
        <img class="design-img" src="/images/design-image.jpg" alt="landscape design photo" />
      </div>
    </div>

    <h2 class="main-heading">Build</h2>

    <p>
      Whether you’ve already worked with Hughes Landscaping or another landscape architect or designer to create a plan,
      or want to discuss a new project, Hughes Landscaping will work with you to turn concept into reality.
      From plantings to sprinkler systems, patios to drainage, we are equipped and licensed to bring your ideas to life.
    </p>
    <p>
      The Hughes Landscaping team delivers professional quality installation courtesy of skilled artisans and craftsmen – from masons to carpenters, designers to lawn care experts.
      Our professional capabilities and extensive equipment fleet allow us to handle most projects in-house.
      We also have a network of specialists we work with so that we can be your “one-stop shop,” saving you the time and effort of serving as a
      general contractor.
      We invite you to view our portfolio.
    </p>
  </div>

  <% include ./partials/baseScripts.ejs %>
</body>
<footer>
  <% include ./partials/footer.ejs %>
</footer>

</html>
