<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <title>Commercial and residential landscape maintenance</title>
</head>

<body>
  <!-- Navigation -->
  <% include ./partials/navbar.ejs %>

  <!-- Photo Carousel -->
  <% include ./partials/carousel.ejs %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="main-heading">Commercial & Residential Landscape Maintenance</h2>

        <p class="side-text">
          Hughes Landscaping delivers maintenance services across the Washington metropolitan area – from homes set on expansive properties to townhouses, commercial to institutional real estate. Our maintenance programs will cover the basics, and
          we’ll
          work with you to design a customized service plan and schedule to meet your specific needs.
        </p>
        <p>Services include :</p>
        <p>- Mowing</p>
        <p>- Clean up, Edge & Mulch</p>
        <p>- Garden Visit(s)</p>
        <p>- Leaf Removal</p>
        <p>- Turf Care (Fertilization & Weed Control)</p>
        <p>- Lime Lawn</p>
        <p>- Shrub Fertilization</p>
        <p>- Tree & Shrub Care</p>
        <p>- Core Aeration & Over Seed</p>
        <p>- Gutter Cleaning</p>
        <p>- Irrigation System Maintenance</p>
      </div>
      <div class="col-lg-4">
        <img class="worker-img" src="/images/worker-image.jpg" alt="hughes worker image" />
      </div>
    </div>
  </div>

  <% include ./partials/baseScripts.ejs %>
</body>
<footer>
  <% include ./partials/footer.ejs %>
</footer>

</html>
