<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
</head>
<title>Hughes Landscaping's experienced team</title>

<body>
  <!-- Navigation -->
  <% include ./partials/navbar.ejs %>

  <div class="conatiner-fluid">

    <h2 class="main-heading">Meet the Hughes Landscaping Team</h2>

    <h3>Sales Representatives</h3>
    <div class="row">

    </div>

    <h3>Office Staff</h3>

  </div>

  <% include ./partials/baseScripts.ejs %>
</body>
<footer>
  <% include ./partials/footer.ejs %>
</footer>

</html>
