<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <title>Our Services</title>
</head>

<body>
  <!-- Navigation -->
  <% include ./partials/navbar.ejs %>

  <!-- Photo Carousel -->
  <% include ./partials/carousel.ejs %>

  <div class="container-fluid">

    <h2 class="main-heading">Hughes Landscaping Services</h2>

    <p class="side-text">
      As a full-service residential and commercial landscaping firm, 
      Hughes Landscaping is licensed and equipped to manage your project 
      from design through installation and maintenance. 
      Hughes Landscaping designers are experienced in commercial and residential 
      landscape design. The Hughes Landscaping team delivers professional quality 
      installation courtesy of skilled artisans and craftsmen – from masons to carpenters, 
      designers to lawn care experts.  Our maintenance programs will cover the basics, 
      and we’ll work with you to design a schedule that meets your specific needs via our 
      customized services menu. A complete list of our services follows, and we invite you 
      to learn more about our design, build and maintain services.
    </p>

    <h2 class="secondary-heading"><span class="underline">Landscape Design / Build</span></h2>

    <p class="side-text"><span class="bold">Plantings -</span> tree/shrub/flower installation; tree service; seeding/sod; drainage/grading</p>
    <p class="side-text"><span class="bold">Architectural Elements -</span> patios; walkways; driveways; walls; decks; fences; steps; wrought iron; gazebos; grills; chimineas; water features</p>
    <p class="side-text"><span class="bold">Irrigation -</span> design; installation; maintenance</p>

    <h2 class="secondary-heading"><span class="underline">Landscape Maintenance</span></h2>

    <p class="side-text"><span class="bold">Lawn Care -</span> mowing; fertilization; weed control; core aeration and over seeding</p>
    <p class="side-text"><span class="bold">Garden Visits -</span> edging; weeding; pruning; trimming; mulching</p>
    <p class="side-text"><span class="bold">Removal -</span> snow; trees; leaves; debris</p>
    <p class="side-text"><span class="bold">Cleaning -</span> gutters; pressure washing</p>
        
  </div>

  <% include ./partials/baseScripts.ejs %>
</body>
<footer>
  <% include ./partials/footer.ejs %>
</footer>

</html>