<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
  <title>Our Process</title>
</head>

<body>
  <!-- Navigation -->
  <% include ./partials/navbar.ejs %>

  <!-- Photo Carousel -->
  <% include ./partials/carousel.ejs %>

  <div class="container-fluid">
    <h2 class="landing-heading">Process</h2>

    <p class="main-text">
      All requests are taken by our receptionists and passed on to a sales representative who is familiar with your area.
      Representatives typically get back to clients within a 24 - 48 time frame.
      <a href="/contact">Contact</a> us about your work inquiry via our contact form or give us a call at the number below.
    </p>

    <div class="row">
      <div class="col-lg-6">
        <h2 class="side-heading">Give Us a Call (301-330-4949)</h3>

        <p class="main-text">
          Give our office a call and leave a message including your name, address, contact information,
          and the type of work you are interested in with one of our lovely receptionists.
          Office hours are from 8 a.m. - 4 p.m.
        </p>
      </div>
      <div class="col-lg-6">
        <h2 class="side-heading">Email Us (Estimates)</h3>

        <p class="main-text">
          Work inquires should be sent via our <a href="/contact">Contact</a> form.
          Approved estimates or questions/concerns about an estimate should be sent to mjchinchilla@hugheslandscaping.com
        </p>
      </div>
    </div>
  </div>

  <% include ./partials/baseScripts.ejs %>
</body>
<footer>
  <% include ./partials/footer.ejs %>
</footer>

</html>
